/*
	이 문서는 non.cls 와 search페이지에서 쓰일 css 입니다.
	@author 서동혁
	@version v.0.1.0
	@since 2020.05.28
*/
.w-x-btn {
	margin: 5px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	font-size: 13px;
}

.w-b-input {
	text-align: left;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.wrt-div {
	width: 100%;
	height: 220px;
	line-height: 220px;
	margin-top: 25px;
}

.wrt-b-img {
	float: left;
	width: 180px;
	margin: 0 15px;
	border: dashed 1px blue;
	text-align: center;
}

.wrt-body {
	float: left;
	width: 440px;
	height: 225px;
	line-height: 255px;
	padding: 10px;
	text-align: center;
}

.-a-t {
	float: left;
	width: 425px;
	height: 150px;
	line-height: 150px;
	margin-top: 13px;
}

.wrt-last {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-top: 10px;
	margin-top: 10px;
}

.hash-input {
	float: left;
	width: 500px;
	height: 40px;
	line-height: 40px;
}

.p-submit {
	float: right;
	width: 130px;
	height: 40px;
	line-height: 40px;
}

.-s-rst {
	width: 100%;
	padding: 10px 30px;
	height: 55px;
	line-height: 15px;
	text-align: center;
	font-size: 30px;
}

/*input tag안에 x표 사라지게 한다고 한다..*/
input[type=text]:-ms-clear {
	display: none;
}

/* 다른 해상도에서 실험 해봐야함.*/
#searchclear {
	position: relative;
	left: 135px;
	top: -52px;
	bottom: 0;
	width: 10px;
	/* height: 14px; */
	/* margin: auto; */
	font-size: 12px;
	cursor: pointer;
	color: #ccc;
	background-color: #fff;
}

.boxwrap {
	display: table;
	width: 100%;
	height: 100px;
	table-layout: fixed;
}

.boxwrap .box {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	border: solid 4px transparent;
}

.box {
	overflow: auto;
	text-overflow: ellipsis;
}